body {
    font-family: Arial, sans-serif;
    margin: 300;
    padding: 300;
    background: url('/images/descarga\ \(1\).jpeg');
    background-repeat: repeat;
    background-size: 675px;
    color: #ffa500;
}

h1, h2 {
    text-align: center;
}

form {

    text-align: center;
}

h1 {
    background-color:#80801dda;
    margin: auto;
    border-radius: 80px;
    bottom: 0;
    width: 50%;
    padding: 0;
    color: #61f550;
    margin-top: 20px;
}

h2 {
    color: #ffffff;
}

h4{ background-color:#80801dc4;
    margin: auto;
    text-align: center;
    border-radius: 80px;
    bottom: 0;
    width: 55%;
    padding: 0;
    color: #ffa500;
}

nav {
    margin: auto;
    text-align: center;
    background-color:#80801db0;
    border-radius: 80px;
    width: 50%;
    padding: 10px;
}

nav a {
    color: #ecf0f1;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-align: center;
    text-decoration: underline;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
}

.post {
    margin-bottom: 20px;
    text-align: center;
}

.post img {
    max-width: 100%;
    border-radius: 8px;
}

.post p, .post label, .post input, .post button, .post small, .post strong, .post b, .post textarea {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.post input, .post textarea {
    width: 60%;
    padding: 5px;
    text-align: center;
}

.post button, .post input[type="submit"] {
    padding: 10px 20px;
    background-color: #724221;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post button:hover, .post input[type="submit"]:hover {
    background-color: #753910;
}

footer{
    background-color:#80801d;
    margin: auto;
    color: #ecf0f1;
    text-align: center;
    border-radius: 80px;
    bottom: 0;
    width: 50%;
    padding: 0;
}

footer a {
    color: #75150a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    img {
        width: 100%;
    }

    section {
        padding: 10px;
    }
}